.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 50px;
}

.form input {
    width: 250px;
}

.container {
    margin: 15px;
    display: flex;
}

.section {
    margin-right: 50px;
}

.input-container {
    margin: 10px;
}

.result {
    text-align: left;
    max-width: 400px;
    word-wrap: break-word;
}

.submit-btn {
    margin: 20px;
}
